<h1>Edit this game</h1>

<%= form_with(model:@game, local:true) do |f| %>

<div class='field'>
  <%= f.label :name%>
  <%= f.text_field :name, required: true, placeholder: "Name"%>
</div>

<%= f.submit%>
<% end %>